body{
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    padding: 0rem 1rem;
}

nav{
   position: fixed;
   top: 0;
   left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition-property: all;
    transition-duration: 100ms;
    background-color: transparent;
    
}

nav > img {
    margin-left: 2rem;
}

header{
    background-image: url(../img/bread-g23f75866c_1920.jpg);
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
    font-family: 'Montaga', serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1{
    width: 25rem;
    height: auto;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 50ms;
}

.logo2{
    display: none;
    width: 25rem;
    height: auto;
    padding: 0.5rem;
    transition-property: all;
    transition-duration: 50ms;
}

.fa-solid{
  font-size: 1.4rem;
}